html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  /* display: grid; */
  /* place-content: center; */
  height: 100%;
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0vw bottom 60vh, right 0vw top 20vh;
}


@media (max-width: 850px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 0vw top -10vh, right 0vw bottom -30vh;
  }
}

.container {
  max-width: 500px;
  padding: 0 1.6rem;
  margin: 0 auto;
}

@media (min-width:850px){
  .container{
    max-width: 1110px;
  }
}

